### dependency
tqdm
mlflow==1.26.1
pandas
numpy
sklearn
PyYAML
sklearn
shap
xgboost==1.5.0
sklearn_evaluation
dvc
pytest
imblearn
black
vulture
ensure

### local packages -
-e . # << uncomment this to install from setup.py

